
<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/list.css">

  <div style='text-align: center;'>
    <% if(place){ %>
      <h1 class='cityList hidden-xs'>Bars in <%= place.charAt(0).toUpperCase() + place.slice(1) %></h1>
    <% }  %>
  </div>
  <div class="container">
    <div class="flex-container">
      <% for(var i = 0; i < 12; i++){ %>
          <div class="flex-item">
            <h1>
              <a href=<%= data.businesses[i].url %>><%= data.businesses[i].name %></a>
            </h1>
            <img src=<%= data.businesses[i].image_url %> alt=<%data.businesses[i].name %>>
            <h5><%= data.businesses[i].location.address %></h5>
            <h4><%= data.businesses[i].phone %></h4>
            <p> "<%= data.businesses[i].snippet_text %>"</p>

            <button class="attendance" type="submit" name="button">Attending?</button>
            <button class="userAttendance" type="submit" name="button">Attending</button>
          </div>
      <%} %>
      </div>
</div>



<% include partials/footer %>
