
<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/list.css">
  <div style='text-align: center;'>

    <% if(place){ %>
      <h1 class='placeList hidden-xs'>Bars in <%= place.charAt(0).toUpperCase() + place.slice(1) %></h1>
    <% }  %>
  </div>
  <div class="container">
    <div class="flex-container">
      <% for(var i = 0; i < 12; i++){ %>
          <div class="flex-item">
            <h1>
              <a href=<%= data.businesses[i].url %>><%= data.businesses[i].name %></a>
            </h1>
            <img src=<%= data.businesses[i].image_url %> alt=<%data.businesses[i].name %>>
            <h5><%= data.businesses[i].location.address %></h5>
            <h4><%= data.businesses[i].phone %></h4>
            <p> "<%= data.businesses[i].snippet_text %>"</p>

            <div class="form-group">
             <button class='attendance btn btn-lg btn-secondary btn-block'><%= data.businesses[i].going.length %> Going Tonight</button>
            </div>

          <% if(currentUser && data.businesses[i].going.indexOf(currentUser.id) === -1){ %>
           <div class="form-group">
            <form method="post" action="/bars/<%= data.businesses[i].location.city %>/<%= data.businesses[i].id %>" >
              <button class='userAttendance btn btn-lg btn-secondary btn-block'> Are You Going?</button>
            </form>
          </div>
          <% } else if (currentUser){ %>

            <form method="post" action="/bars/<%= data.businesses[i].location.city %>/<%= data.businesses[i].id %>?_method=Delete" >
              <button class='btn btn-lg btn-secondary btn-block'type='submit'> Delete <span class='glyphicon glyphicon-remove'></span></button>
            </form>

          <% } %>

          <!--  <div class="form-group">
              <button class='attendance btn btn-lg btn-secondary btn-block'> Going Tonight</button>
            </div>

            <form class="" action="/bars/user/<%= data.businesses[i].location.place %>/<%= data.businesses[i].id %>" method="post">
              <button class='userAttendance btn btn-lg btn-secondary btn-block'> Are You Going?</button>
            </form>
          -->

          </div>
      <%} %>
      </div>
</div>

<% include partials/footer %>
